In [1]:
import pandas as pd

In [2]:
#read the csv review dataset
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='PcBfyIwGat2itUjt7RMWnbFW9Wt2mY8r2RCDr8320vDI',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us-south.cloud-object-storage.appdomain.cloud')

bucket = 'understandingguestperceptionsofho-donotdelete-pr-h52h40bibzzljq'
object_key = 'hotel_reviews.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

trip = pd.read_csv(body)
trip.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [3]:
# Let's create a new data frame
 
trip = trip[(trip['Rating']==5)|(trip['Rating']==2)|(trip['Rating']==1)][['Review','Rating']]

# Lets modify the Rating column
trip['Rating'] = trip['Rating'].apply(lambda rating: 'Pos' if rating==5 else 'Neg')

In [4]:
# reseting the index because after removing some rows, the index gets crowded
trip.reset_index(inplace=True)
trip.head()

   index                                             Review Rating
0      1  ok nothing special charge diamond member hilto...    Neg
1      3  unique, great stay, wonderful time hotel monac...    Pos
2      4  great stay great stay, went seahawk game aweso...    Pos
3      5  love monaco staff husband stayed hotel crazy w...    Pos
4      6  cozy stay rainy city, husband spent 7 nights m...    Pos

   index                                             Review Rating
0      1  ok nothing special charge diamond member hilto...    Neg
1      3  unique, great stay, wonderful time hotel monac...    Pos
2      4  great stay great stay, went seahawk game aweso...    Pos
3      5  love monaco staff husband stayed hotel crazy w...    Pos
4      6  cozy stay rainy city, husband spent 7 nights m...    Pos

   index                                             Review Rating
0      1  ok nothing special charge diamond member hilto...    Neg
1      3  unique, great stay, wonderful time hotel monac...    Pos
2      4  great stay great stay, went seahawk game aweso...    Pos
3      5  love monaco staff husband stayed hotel crazy w...    Pos
4      6  cozy stay rainy city, husband spent 7 nights m...    Pos

In [5]:
trip['Rating'].value_counts()

Pos    9054
Neg    3214
Name: Rating, dtype: int64

Pos    9054
Neg    3214
Name: Rating, dtype: int64

Pos    9054
Neg    3214
Name: Rating, dtype: int64

In [6]:
pip install nltk

Requirement already satisfied: nltk in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: nltk in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: nltk in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/envs/Python-3.10/lib/python3.10/site-packages (from nltk) (2022.10.31)
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.
Note: you may need to restart the kernel to use updated packages.

In [7]:
#Data cleaning and preprocessing

import re
import nltk

from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [8]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /home/wsuser/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/wsuser/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

[nltk_data] Downloading package stopwords to /home/wsuser/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/wsuser/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

[nltk_data] Downloading package stopwords to /home/wsuser/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/wsuser/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [9]:
# Lemmatization object
ps = WordNetLemmatizer()
corpus = []

In [10]:
# Text preprocessing
# keep only text based
# lower all the letters
# split the words
for i in range(0,len(trip)):
    review = re.sub('[^a-zA-Z]'," ",trip['Review'][i])
    review = review.lower()
    review = review.split()
    review = [ps.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [11]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='PcBfyIwGat2itUjt7RMWnbFW9Wt2mY8r2RCDr8320vDI',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us-south.cloud-object-storage.appdomain.cloud')

bucket = 'understandingguestperceptionsofho-donotdelete-pr-h52h40bibzzljq'
object_key = 'tdata.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

trip.to_csv('df_data_1.csv', index = False)

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [13]:
X = cv.fit_transform(corpus).toarray()

In [14]:
X.shape

(12268, 34569)

(12268, 34569)

(12268, 34569)

In [15]:
y = pd.get_dummies(trip['Rating'])
y = y.iloc[:,1].values
y

array([0, 1, 1, ..., 0, 0, 0], dtype=uint8)

array([0, 1, 1, ..., 0, 0, 0], dtype=uint8)

array([0, 1, 1, ..., 0, 0, 0], dtype=uint8)

In [16]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.20,random_state=3)

Naive Bayes

In [17]:
#Naive bayes classifier

from sklearn.naive_bayes import MultinomialNB
model1 = MultinomialNB().fit(X_train,y_train)

# for the accuracy
model1.score(X_test,y_test)

y_pred = model1.predict(X_test)

In [18]:
#compare y test and y_pred
#confusion matrix is a 2x2 matrix and it tells,
#how many number of elements are correctly predicted.

from sklearn.metrics import confusion_matrix
confusion_m = confusion_matrix(y_test,y_pred)

confusion_m

array([[ 574,   69],
       [  44, 1767]])

array([[ 574,   69],
       [  44, 1767]])

array([[ 574,   69],
       [  44, 1767]])

In [19]:
#checking accuracy score

from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)

accuracy

0.9539527302363489

0.9539527302363489

0.9539527302363489

In [20]:
#checking precision score

from sklearn.metrics import precision_score
precision_score(y_test,y_pred)

0.9624183006535948

0.9624183006535948

0.9624183006535948

In [21]:
#checking recall score

from sklearn.metrics import recall_score
recall_score(y_test,y_pred)

0.9757040309221424

0.9757040309221424

0.9757040309221424

In [22]:
#checking f-beta score

from sklearn.metrics import fbeta_score
fbeta_score(y_test,y_pred,beta=1)

0.9690156292843433

0.9690156292843433

0.9690156292843433

In [23]:
# Checking the training model with custom input data
message = "the hotel was nice and comfy"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model1.predict(vect)
my_prediction_prob = model1.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

Positive
0.9689465878406804
Positive
0.9689465878406804
Positive
0.9689465878406804

In [24]:
message = "the hotel was bad and the staff was rude"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model1.predict(vect)
my_prediction_prob = model1.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

Negative
0.8445454685022524
Negative
0.8445454685022524
Negative
0.8445454685022524

Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(solver='liblinear')

In [ ]:
model2 = logreg.fit(X_train, y_train)

In [ ]:
y_pred_class = logreg.predict(X_test)

In [ ]:
from sklearn import metrics

In [ ]:
metrics.accuracy_score(y_test, y_pred)

In [ ]:
metrics.precision_score(y_test, y_pred)

In [ ]:
metrics.precision_score(y_test, y_pred)

In [ ]:
metrics.recall_score(y_test, y_pred)

In [ ]:
metrics.fbeta_score(y_test, y_pred, beta=1)

In [ ]:
metrics.roc_auc_score(y_test, y_pred)

In [ ]:
pip install metrics

In [ ]:
metrics.confusion_matrix(y_test, y_pred)

In [ ]:
message = "cozy stay rainy city"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model2.predict(vect)
my_prediction_prob = model2.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

In [ ]:
message = "the hotel was bad and the staff was rude"
data = [message]
vect = cv.transform(data).toarray()
my_prediction = model2.predict(vect)
my_prediction_prob = model2.predict_proba(vect)

if my_prediction==1:
    print("Positive")
    print(my_prediction_prob[0][1])
else:
    print("Negative")
    print(my_prediction_prob[0][0])

In [ ]:
# Dump the machine learning model outsite so you can use outsite and not retrain again and again
import pickle

#pickle file for logistic regression

filename = 'logistic_regression_model.pkl'
pickle.dump(model2, open(filename, 'wb'))
pickle.dump(cv, open('tranform_logistic.pkl', 'wb'))

In [ ]:
#pickle file for naive bayes

filename = 'naive_bayes_model.pkl'
pickle.dump(model1, open(filename, 'wb'))
pickle.dump(cv, open('transform_naive.pkl', 'wb'))

In [ ]:
!pip install -U ibm-watson-machine-learning
!tar -zcvf hotel_reviews_model.tgz parkinson.pkl

In [ ]:
from ibm_watson_machine_learning import APIClient
wml_credentials={"url":"https://us-south.ml.cloud.ibm.com", 
                 "apikey": "4up_STnwX796Xc6gLfx93rh7Ak18cFtwpiz6xvwMGDPy"
                }
client=APIClient(wml_credentials)

In [ ]:
def guide_from_space_name(client,space_name):
    space=client.spaces.get_details()
    return(next(item for item in space['resources']if item['entity']["name"]==space_name)['metadata']['id'])

In [ ]:
space_uid=guide_from_space_name(client,'hotel__deploy')
print("Space UID =" + space_uid)

In [ ]:
client.set.default_space(space_uid)

In [ ]:
client.software_specifications.list()

In [ ]:
software_spec_uid=client.software_specifications.get_uid_by_name("runtime-22.1-py3.9")
software_spec_uid

In [ ]:
model_details=client.repository.store_model(model='hotel_sentiment_review_model.tgz',meta_props={client.repository.ModelMetaNames.NAME:"parkinson_model",client.repository.ModelMetaNames.TYPE:"scikit-learn_1.0",client.repository.ModelMetaNames.SOFTWARE_SPEC_UID:software_spec_uid})
model_id=client.repository.get_model_id(model_details)

In [ ]:
model_id

In [ ]:
client.repository.download("858ef1f1-a8fb-4c67-8af4-b61cfdb1b8d1","parkinson.tar.gz")